//--------------------------------------------------//
//--- FONTS ----------------------------------------//
//--------------------------------------------------//

$brandon: "Brandon Grotesque", Verdana, Arial, sans-serif;
@font-face {
	font-family: "Brandon Grotesque";
	src: url("../fonts/Brandon_blk.woff"),
		 url("../fonts/Brandon_blk.ttf");
	font-weight: 700;
}